body {
  font-family: 'Lexend', sans-serif;

  color: $main-text;
  background-color: $main-bgc;

  &.menu-open {
    overflow: hidden;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include desktop {
    width: 1200px;
  }

  @include tablet {
    width: 768px;
  }

  @include mobile {
    width: 480px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.gold-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-transform: capitalize;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  margin-left: -40px;
  color: $gold-text;

  &::before {
    content: '';
    width: 32px;
    height: 1px;

    margin-right: 8px;

    border: 1px solid $gold-text;
    background-color: $gold-text;
  }
}
