.partner {
  padding-top: 220px;
  padding-bottom: 120px;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include mobile {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__position {
    position: relative;
  }

  &__img {
    position: absolute;
    top: -200px;
    left: -400px;

    &--green {
      top: 100px;
    }
  }

  &__content {
    text-align: center;
    margin-bottom: 40px;

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateY(-100%);
  }

  &__flex {
    display: flex;
    justify-content: space-between;

    @include tablet {
      align-items: center;
      flex-direction: column;
      gap: 30px;
    }

    @include mobile {
      flex-direction: column;
      gap: 500px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      margin-bottom: 8px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    text-transform: capitalize;
    margin-bottom: 24px;
    max-width: 424px;
    margin-left: auto;
    margin-right: auto;

    color: $secondary-text;
  }

  &__btn {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.57;
    border-radius: 32px;
    border: transparent;
    padding: 12px 16px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 300ms linear;

    color: $white-text;
    background-color: #10b981;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}

.partner-list {
  @include mobile {
    width: 440px;
  }
  &__item {
    max-width: 400px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateX(-100%);

    &:nth-child(2) {
      transition-delay: 0.2s;
    }
    &:nth-child(3) {
      transition-delay: 0.4s;
    }
    &:nth-child(4) {
      transition-delay: 0.6s;
    }
  }
}

.partner-content {
  display: flex;
  width: 572px;

  @include mobile {
    width: 440px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__time {
    display: flex;
    align-items: center;
    @include mobile {
      justify-content: center;
    }
  }

  &__flex {
    margin-left: 32px;

    @include mobile {
      margin-left: 0;
    }
  }

  &__flex-name {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    @include mobile {
      justify-content: center;
    }
  }

  &__img-first {
    width: 200px;
    height: 144px;
  }

  &__img {
    width: 32px;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    margin-left: 16px;

    color: #3c4563;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.78;
    text-transform: capitalize;
    margin-bottom: 16px;

    color: $secondary-text;

    @include mobile {
      text-align: center;
      max-width: 440px;
    }
  }

  &__svg {
    margin-right: 12px;
  }

  &__text-time {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: $gray-text;
  }
}

.partner-leftblock {
  width: 572px;
  height: 524px;
  z-index: 1;

  @include mobile {
    width: 440px;
  }
}

.partner-rightblock {
  width: 560px;
  height: 480px;

  opacity: 0;
  transition: transform 500ms linear, opacity 500ms linear;
  transform: translateX(100%);

  @include mobile {
    width: 440px;
  }
  &__img-first {
    width: 560px;
    height: 280px;
    margin-bottom: 24px;

    @include mobile {
      width: 440px;
      object-fit: contain;
      margin-bottom: 12px;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &__img {
    width: 32px;
    margin-right: 16px;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;

    color: #3c4563;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
    text-transform: capitalize;
    margin-bottom: 12px;

    color: $secondary-text;
  }

  &__under-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    opacity: 0.75;
    margin-bottom: 16px;

    @include mobile {
      max-width: 440px;
    }
  }

  &__time-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: $gray-text;
  }

  &__time-block {
    display: flex;
  }

  &__svg {
    margin-right: 12px;
  }
}

//animation

.animation-top,
.animation-left {
  opacity: 1;
  transition: transform 500ms linear, opacity 500ms linear;
  transform: translateY(0);
}

.animation-left {
  transform: translateX(0);
}
