.partner {
  padding-top: 220px;
  padding-bottom: 120px;

  &__content {
    text-align: center;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;

    color: $gold-text;

    &::before {
      content: '';
      width: 32px;
      height: 1px;
      margin-bottom: 8px;
      border: 1px solid #f59e0b;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    text-transform: capitalize;
    margin-bottom: 24px;

    color: $secondary-text;
  }

  &__btn {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.57;
    border-radius: 32px;
    border: transparent;
    padding: 12px 16px;
    margin-bottom: 40px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 300ms linear;

    color: $white-text;
    background-color: #10b981;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}

.partner-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.partner-content {
  display: flex;
  width: 572px;

  &__time {
    display: flex;
    align-items: center;
  }

  &__flex {
    margin-left: 32px;
  }

  &__flex-name {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &__img-first {
    width: 200px;
    height: 144px;
  }

  &__img {
    width: 32px;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    margin-left: 16px;

    color: #3c4563;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.78;
    text-transform: capitalize;
    margin-bottom: 16px;

    color: $secondary-text;
  }

  &__svg {
    margin-right: 12px;
  }

  &__text-time {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: $gray-text;
  }
}

.partner-leftblock {
  width: 572px;
}

.partner-rightblock {
  width: 560px;
  &__img-first {
    width: 560px;
    height: 280px;
    margin-bottom: 24px;
  }

  &__name {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &__img {
    width: 32px;
    margin-right: 16px;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;

    color: #3c4563;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
    text-transform: capitalize;
    margin-bottom: 12px;

    color: $secondary-text;
  }

  &__under-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    opacity: 0.75;
    margin-bottom: 16px;
  }

  &__time-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: $gray-text;
  }

  &__time-block {
    display: flex;
  }

  &__svg {
    margin-right: 12px;
  }
}
