.review {
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;

  @include mobile {
    padding-bottom: 180px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      margin-bottom: 8px;
    }

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateY(-100%);
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 40px;

    color: $secondary-text;

    @include mobile {
      margin-bottom: 0;
    }

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateY(-100%);
  }

  &__span {
    position: absolute;
    bottom: -64px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    background-color: #3c4563;

    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;

      transform: translate(-16px);

      background-color: #e0e3eb;
    }

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      transform: translate(16px);

      background-color: #e0e3eb;
    }
  }
}

.review-list {
  display: flex;
  justify-content: center;

  @include tablet {
    flex-direction: column;
    gap: 140px;
  }

  @include mobile {
    flex-direction: column;
    gap: 80px;
  }

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 56px;

      @include mobile {
        margin-right: 0;
      }
    }

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateX(-100%);

    &:nth-child(2) {
      transition-delay: 0.2s;
    }
    &:nth-child(3) {
      transition-delay: 0.4s;
    }
    &:nth-child(4) {
      transition-delay: 0.6s;
    }
  }

  &__img {
    width: 740px;
    height: 400px;

    @include mobile {
      width: 440px;
      object-fit: contain;
    }
  }
}

.review-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 56px);

  width: 612px;
  background-color: $main-bgc;
  padding: 32px;
  box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 16px;

  @include mobile {
    width: 370px;
    padding: 16px;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.25;
    text-transform: capitalize;
    margin-bottom: 16px;

    color: $secondary-text;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    opacity: 0.75;
    margin-bottom: 24px;
  }
}

.review-under-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__img {
    width: 40px;
    margin-right: 24px;
  }

  &__margin {
    margin-right: auto;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;
    margin-bottom: 4px;

    color: #0e1735;
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;

    color: $gray-text;
  }

  &__flex {
    display: flex;
    align-items: center;
    align-self: end;
  }

  &__span {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    margin-left: 16px;

    color: #3c4563;
  }
}

//animation

.animation-top,
.animation-left {
  opacity: 1;
  transition: transform 500ms linear, opacity 500ms linear;
  transform: translateY(0);
}

.animation-left {
  transform: translateX(0);
}
