// accent #047857
// accent-light: #D1FAE5;
// main-text #626687
// white-text #F0F3FD;
// secondary-text:  #1B1C57;
// gray-text:  #888B97;
// gold-text:  #F59E0B;
// red-text: #EF4444;
// red-light:#FEE2E2;
// blue-text: #1D4ED8;
// blue-light: #DBEAFE;
// main-bgc: #ffffff;

$accent: #047857;

$main-text: #626687;
$white-text: #f0f3fd;
$secondary-text: #1b1c57;
$gray-text: #888b97;
$accent-light: #d1fae5;
$gold-text: #f59e0b;
$red-text: #ef4444;
$red-light: #fee2e2;
$blue-text: #1d4ed8;
$blue-light: #dbeafe;

$main-bgc: #ffffff;
